/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;

}

body{
    transition: margin-left 300ms cubic-bezier(0.075, 0.82, 0.165, 1) ;
}

.bg{
    background-image: url("/templates/simple-login/webpack/build/imgs/lock-gf1ee4d14c_1920.webp");
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    
}

#main__header{
    transition: all 300ms;
}

.icon__menu{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(5px);
}

.icon__menu i{

    font-size: 20px;
    cursor: pointer;
    position: absolute;
    color: rgb(255, 255, 255);
}

.main__sidebar{
    width: 0;
    height: 100%;
    top:0px;
    left:0;
    background: #02101d;
    position:fixed;
    font-size: 18px;
    color: aliceblue;
    z-index: 300;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: all 300ms;

}

.sideBar__h4{
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}

/*Ocultar Scroll chrome, safari y opera*/

.main__sidebar::-webkit-scrollbar{
    display: none;
}
/*Ocultar Scroll IE, Edge y Firefox*/

.main__sidebar::-webkit-scrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.main__sidebar a{
    font-size: 15px;
    color: aliceblue;
   

}
.navbar{
    margin-bottom: 20px;
    transition: all 300ms;
}
.name__page{
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; 
}
.name__page a{
    text-decoration: none;
    transition: color 1000ms;
}
.name__page h3{
    font-family: 'Lexend Mega', sans-serif;
    font-weight:500;
}
.name__page i{
    width: 20px;
    margin-right: 20px;
}

.options__menu{
    padding: 20px 30px;
    position: absolute;
    top:80px;
    
}

.options__menu a{
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
    text-decoration: none;
    transition: color 600ms;
}

.options__menu a:hover{
    color: aqua;
    
}

.options__menu .menu__item{
    padding:10px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .menu__item i{
    width: 20px;
    margin-right: 20px;
    cursor: pointer ;
}

.options__menu .menu__item h4{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
}

a.selected{
    color: #05ff9f
}

.body__move{
    margin-left: 200px;
    transition: all 300ms;
}

.menu__side_move{
    width: 200px;
    transition: all 300ms;
}


@media  screen and (max-width: 760px) {
    .body__move{
        margin-left: 0px;
    }

    .menu__side_move{
        width: 80px;
        left: -80px;
    }
    
}

#works-list{
    padding-left: 25px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-gap: 20px;
}
.card{
    margin-bottom: 15px;
}