/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
} 

body{
   
    transition: margin-left 300ms cubic-bezier(0.075, 0.82, 0.165, 1) ;
}

.bg{
    background-image: url("/templates/simple-login/webpack/build/imgs/lock-gf1ee4d14c_1920.webp");
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
.editor-full{
   display: flex;
   padding-top: 10px;
   flex-direction: column;
}
.editor {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-bottom: 10px;
  }
  .editor_code{
      
    overflow: auto;
    max-width: 100vw;
    resize: both;
  }
  .editor_code textarea {
    width: 30vw;
    margin-bottom: -5px;
    resize: none;
    outline: 0 !important;
    padding: 60px 10px 10px;
    overflow-Y:scroll;
    background:rgb(230,230,230)
  }
  
  .editor_code:before {
    position: absolute;
    width: calc(30vw );
    padding: 15px 15px;
    font-family: monospace;
    font-size:15px;
    background: rgb(50, 50, 50);
    color: rgb(220, 220, 220);
    text-transform:uppercase
  }
  
  .editor_code:nth-of-type(1):before {
    content: "html";
  }
  
  .editor_code:nth-of-type(2):before {
    content: "css";
  }
  
  .editor_code:nth-of-type(3):before {
    content: "javascript";
  }
  
  .editor_code textarea:nth-of-type(1) {
    height: calc(100vh/3 + 1px);
  }
  
  .viewer {
      display: flex;
      width: 100%;
      background-color: white;
    
  }
  
  .viewer iframe {
    display: flex;
    width: 100%;
    height: 100vh;
    border: 0
  }
  
  .run {
    justify-content: center;
    position:fixed;
    top:20px;
    right:20px;
    padding:10px;
    border:2px solid rgba(170,170,170,0.8);
    color:white;
    border-radius:4px;
    cursor:pointer;
    font-family:monospace
  }
  
  a.run {
    text-decoration:none;
    bottom:20px;
    top:auto;
  }

/*TAILWIND BG COLORS*/
.bg-black { background-color: #000; }
.bg-white { background-color: #fff; }

.bg-gray-100 { background-color: #f7fafc; }
.bg-gray-200 { background-color: #edf2f7; }
.bg-gray-300 { background-color: #e2e8f0; }
.bg-gray-400 { background-color: #cbd5e0; }
.bg-gray-500 { background-color: #a0aec0; }
.bg-gray-600 { background-color: #718096; }
.bg-gray-700 { background-color: #4a5568; }
.bg-gray-800 { background-color: #2d3748; }
.bg-gray-900 { background-color: #1a202c; }

.bg-yellow-100 { background-color: #fffff0; }
.bg-yellow-200 { background-color: #fefcbf; }
.bg-yellow-300 { background-color: #faf089; }
.bg-yellow-400 { background-color: #f6e05e; }
.bg-yellow-500 { background-color: #ecc94b; }
.bg-yellow-600 { background-color: #d69e2e; }
.bg-yellow-700 { background-color: #b7791f; }
.bg-yellow-800 { background-color: #975a16; }
.bg-yellow-900 { background-color: #744210; }


.bg-orange-100 { background-color: #fffaf0; }
.bg-orange-200 { background-color: #feebc8; }
.bg-orange-300 { background-color: #fbd38d; }
.bg-orange-400 { background-color: #f6ad55; }
.bg-orange-500 { background-color: #ed8936; }
.bg-orange-600 { background-color: #dd6b20; }
.bg-orange-700 { background-color: #c05621; }
.bg-orange-800 { background-color: #9c4221; }
.bg-orange-900 { background-color: #7b341e; }

.bg-indigo-100 { background-color: #ebf4ff; }
.bg-indigo-200 { background-color: #c3dafe; }
.bg-indigo-300 { background-color: #a3bffa; }
.bg-indigo-400 { background-color: #7f9cf5; }
.bg-indigo-500 { background-color: #667eea; }
.bg-indigo-600 { background-color: #5a67d8; }
.bg-indigo-700 { background-color: #4c51bf; }
.bg-indigo-800 { background-color: #434190; }
.bg-indigo-900 { background-color: #3c366b; }

.bg-blue-100   { background-color: #ebf8ff; }
.bg-blue-200   { background-color: #bee3f8; }
.bg-blue-300   { background-color: #90cdf4; }
.bg-blue-400   { background-color: #63b3ed; }
.bg-blue-500   { background-color: #4299e1; }
.bg-blue-600   { background-color: #3182ce; }
.bg-blue-700   { background-color: #2b6cb0; }
.bg-blue-800   { background-color: #2c5282; }
.bg-blue-900   { background-color: #2a4365; }

.bg-purple-900 { background-color: #44337a; }

#main__header{
    transition: all 300ms;
}

.icon__menu{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(5px);
}

.icon__menu i{

    font-size: 30px;
    cursor: pointer;
    position: absolute;
    color: rgb(255, 255, 255);
}

.main__sidebar{

    width: 0;
    height: 100%;
    top:0px;
    left:0;
    background: #1a202c;
    position:fixed;
    font-size: 18px;
    z-index: 300;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: all 300ms;

}
/*Ocultar Scroll chrome, safari y opera*/

.main__sidebar::-webkit-scrollbar{
    display: none;
}
/*Ocultar Scroll IE, Edge y Firefox*/

.main__sidebar::-webkit-scrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.main__sidebar a{
    font-size: 15px;
    color: aliceblue;}

.navbar{
    display: flex;
    margin-bottom: 0px;
    transition: all 300ms;
}
.nav-link {
    color: white;
}
.name__page{
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}
.nav-item a{
    color: white;
}
.name__page a{
    color: white;
    text-decoration: none;
    
}
.name__page a:hover{
    color: #434190;
    transition: color 500ms;
    text-decoration: none;
}
.name__page h3{
    font-family: 'Lexend Mega', sans-serif;
    font-weight:500;
}
.name__page i{
    width: 20px;
    margin-right: 20px;
}

.options__menu{
    position: absolute;
    top:80px;

}
.options__menu a{
    display: block;
    position: relative;
    transition: color 300ms;
    text-decoration: none;
}
.options__menu a:hover{
    text-decoration: none;
}


.dashboard-title{
    display: flex;
    background-color: #05ff9f;
    width: 200px;
    height: 20px ;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.options__menu .menu__item{
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.options__menu .menu__item i{
    display: flex;
    margin-right: 10px;
    flex-direction: row;
    width: 20px;
    margin-left: 70px;
    cursor: pointer ;
}
.options__menu .dashboard-title i{
    display: flex;
    float:right;
    flex-direction: row;
    width: 20px;
    margin-left: 70px;
    cursor: default ;
}



.options__menu .menu__item h4{
    margin-top: 5px;
    margin-left: 10px;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
   
}
.dashboard-title h4{
    margin-top: 10px;
    margin-left: 5px;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    cursor: default;
    
}

.menu__item a{
    text-decoration: none;
}
.menu__item:hover{
    background-color: #3c366b;
    color: white;
}

a.selected{
    color: #05ff9f
}

.body__move{
    margin-left: 200px;
    transition: all 300ms;
}

.menu__side_move{
    width: 200px;
    transition: all 300ms;
}

#works-list{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-gap: 20px;
    padding-left: 20px;
    margin-top: 15px;
    
}
.card{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.card-title{
  
    font-family: 'Lexend Mega', sans-serif;
}
@media  screen and (max-width: 760px) {
    .body__move{
        margin-left: 0px;
    }

    .menu__side_move{
        width: 80px;
        left: -80px;
    }
    #works-list{
        padding-left: 25px;
        margin-right: 10px;
        display: grid;
        grid-template-columns: 300px 300px;
        grid-gap: 20px;
    }

}
.fa{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.work__card-footer{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 5px;
    border-radius: 3px;
    background-color: #4a5568;
    border: 1px solid white;
    height: 40px;
    width: 100%;
    padding: 5px;
}
.work__card-footer i {
    display: flex;
    font-size: 20px;
    color: rgb(255, 255, 255);
    float: right;
}

.plunker-card-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: 90%;
    font-weight: 300;
    color: #fff;
}
.plunker-card-facets {
    display: flex;
    justify-content: left;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: -0.5em;
}
.plunker-card-tag {
    display: inline;
    margin-top: 5px;
    margin-right: 5px;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
    background-color: #434190;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.btn-secondary :hover {
    color: #212529;
    background-color: #52bebe;
    border-color: #8ad3d3
}
.btn-outline-secondary{
    background:#434190 ;
}
